<section class="content">
      
      <div class="row">
        <div class="col-sm-6">
           <!-- <div class="ownerlist-heading">Frequently Asked Questions</div> -->
           <div class="global-heading user-head">Frequently Asked Questions</div>
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to "Create a new FAQ", new_admin_faq_path, :class => "btn btn-default btn-createSalon" %>
        </div>
      </div>
      <div class="global-box clearfix">
        <div class="table-responsive cus-table">
           <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Questions</th>
                  <th>Answers</th>
                  <th colspan="2" class="text-center">Action</th>
                </tr>
              </thead>
              <% @faqs.each do |m| %>
              <tbody>
                <tr>
                  <td><%= m.try(:id) %></td>
                    <td><%= m.try(:question) %></td>
                    <td><%= m.try(:answer)%></td>
                    <!-- <td><%#= link_to 'View', admin_faq_path(m),:class=>"btn btn-success" %></td> -->
                    <td><%= link_to 'Edit', edit_admin_faq_path(m),:class=>"btn btn-success" %></td>
                    <td><%= link_to 'Delete', admin_faq_path(id: m.id),:class=>"btn btn-success",:data => {:confirm => "Are you sure you want to delete"}, method: :delete %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
            <%= will_paginate @faqs, :param_name => 'page_1', renderer: BootstrapPagination::Rails %>

        </div>
      </div>
    </section>
