<section class="content">
	<div class="global-heading"> Payment Settings</div>
	<div class="payment-setting-block">
		<div class="payment-tab">	
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a data-toggle="tab" href="#price-info">Pricing Information</a></li>
	       		<li class=""><a data-toggle="tab" href="#setting">Settings</a></li>
	    	</ul>
    	</div> 
    	<div class="Payment-tab">
		<div class="tab-content">
		  	<div id="price-info" class="tab-pane fade in active">
		    	<div class="filter-block">
		    		<div class="add-button text-right">
		    			<!-- <a class="btn btn-primary add-btn" href=" /admin/pricing_informations/new"> <i class="fa fa-plus"></i>Add 
		    			</a> -->

		    			<%=link_to new_admin_pricing_information_path, :class=> "btn btn-primary add-btn"  do %>
		    			<i class= "fa fa-plus"></i>Add
		    			<%end%>
		    			
		    		</div>
                  
	       			<fieldset class="global-fieldset">
  						<legend>Filter</legend>
				        <div class="filter-form">
  						<%= form_tag admin_pricing_informations_path, url: admin_pricing_informations_path, method: :get , remote: true do %>
				        <!-- <form action="/admin/users" method="get" accept-charset="UTF-8" enctype="multipart/form-data" id="web-user-val" class="form-common clearfix"> -->
				           
					          	<div class="country-field">
						            <div class="form-group">
						              <label>Country</label>

						              <%= text_field_tag :country_id_cont %>
						            </div>
					          	</div>
					            <div class="filter-btn">
					               <%= submit_tag "Filter", class: "btn btn-primary" %>    
					                  <!-- <button type="submit"  class="btn btn-primary"><i class="fa fa-search"> Filter</i> </button> -->
					     <!-- <i class= ""></i> -->
					            </div>
					                   
				        	 
				   		<%end%>
				   		</div>
 					</fieldset>
 					
     			</div>
     			<div id="pricing-content">
                 <%= render partial: "index"%>
                </div>
		  	</div>
			<div id="setting" class="tab-pane fade" >
		 <%= form_for :commission, url: create_commission_admin_pricing_informations_path, html:  {id: "commission_form"} do |f| %>
				<div class="filter-block">
					<div class="form-group select-setting">
						<div class="row">
							<div class="col-sm-4">
								<label>Select Country</label>
								
								 <%= f.select(:country_id , @country_names, {:include_blank => false, :prompt => "Select country"}, { :class => 'select-dropdown form-control' }) %>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-block">
					<div class="form-group select-setting">
						<div class="row">
							<div class="col-sm-4">
								<label>Select Weight Limit</label>
							
								 <%= f.select(:pricing_information_id , "", {:include_blank => false , :prompt => "Select weight-limit" }, { :class => 'select-dropdown form-control', :id => "weight_dropdown"}) %>
							</div>
						</div>
					</div>
				</div>
					<div class="commission-outerblock">
						<div class="commission-block">
								<h5> Travelers Commission  </h5>
								 <p class="radio-box">
								
   
                         <%=f.radio_button :traveller_commission_type, "traveller_percentage",:checked => true %>
                         <%=f.label :traveller_commission_type, 'Percentage',:value=> 'traveller_percentage' %>

								  </p>
								  <p class="radio-box">
                                    <%= f.radio_button :traveller_commission_type, "traveller_fixed" %>
                                     <%= f.label :traveller_commission_type,'Fixed Amount', :value => 'traveller_fixed' %>
								  </p>
								<%= f.text_field :traveller_commission, class: "form-control custom-control" %>
						</div>
					</div>
					<div class="commission-outerblock">
						<div class="commission-block">
								<h5> Shipper Commission  </h5>
								 <p class="radio-box">
								  <%=f.radio_button :shipper_commission_type, "shipper_percentage",:checked => true %>
                         <%=f.label :shipper_commission_type, 'Percentage',:value=> 'shipper_percentage' %>
								  </p>
								  <p class="radio-box">
								    <%= f.radio_button :shipper_commission_type, "shipper_fixed" %>
                                     <%= f.label :shipper_commission_type,'Fixed Amount', :value => 'shipper_fixed' %>
								  </p>
								 <%= f.text_field :shipper_commission, class: "form-control custom-control" %>
						</div>
					</div>
					<div class="text-center form-group">
			     <%= f.submit 'Save', :class => "btn btn-primary "%>

					</div>
	           	<%end%>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>

<style type="text/css">

.select-setting{padding-left: 40px;}



</style>

<script>
 $("#commission_country_id").change(function(){
    var country_name = $(this).val();
     $.ajax({
      url:  "/admin/pricing_informations/find_weight_from_country",
      type: "GET",
      data: { country_name: country_name

      },
      success: function(response){
      	var options="";
      $.each(response.data, function(key, value){

    options+= '<option value="'+key+'">'+value+'</option>'

});
      // alert(options);
      $("#weight_dropdown").empty();
      $("#weight_dropdown").html(options);


      }

       
     });
 });

</script>


 <script>   
 $("#commission_form").validate({

  
  rules: {
     "commission[country_id]":{
        required: true
      },
      "commission[pricing_information_id]": {
      required: true
      },
     "commission[traveller_commission]":{
         required: true,
         digits: true
      },
      "commission[shipper_commission]":{
         required: true
      }
    }

});
 </script>

<style>
#commission_form .error {
      color: red;
       margin-right: 10px;
  }

</style>