<div class="login-part">
	<div class="clearfix">
	  <div class="global-heading user-head">Country Management</div>
	  <div class="aduser-btn"><a href="/admin/countries" class="btn btn-add"> << Back to list </a></div>
	 </div>
  <div class="login-detail createpro-detail1">
    <!-- <form class="form-common"> -->
    <%= form_for :country, url: admin_countries_path, html:  {id: "admin_country"}  do |f| %>
   
      <div class="row">
        <div class="col-sm-12">
          <div class="country_mng-form">
            <div class="form-group">
               <label for="">Country Name<span class="required">*</span> </label>
              
                <%= f.select(:country_name , CS.countries.collect {|key, value| [ value ] }, {:include_blank => "Please select country"}, { :class => 'select-dropdown form-control' }) %>

            </div>
            <!-- <div class="form-group">
               <label for="">Continent Name<span class="required">*</span> </label>
              
                <%#= f.select :continent,options_for_select(["America", "Europe", "Africa", "Asia"]), {:include_blank => "Please select continent name"},class:  "select-dropdown form-control", id:"continent"  %> 

            </div> -->
            <div class="form-group">
               <label for="">ISO Code<span class="required">*</span> </label>
               <%= f.text_field :iso_code, class: "form-control custom-control",  placeholder: "ISO Code"%>
            </div>
            <div class="form-group">
              <label for="">Tax Percentage<span class="required">*</span> </label>
              <div class="input-icon">
                <%= f.text_field :tax_percentage, class: "form-control custom-control",  placeholder: "Tax Percentage"%>
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
            <div class="form-group">
            	<div class="checkbox">
                <label><%= f.check_box :published%>Published</label>
              </div>
              <div class="form-add">
                <%= submit_tag 'Submit', :class => "btn btn-primary btn-md"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- </form> -->
  </div>
</div>


<script>
$(document).ready(function() {
     $("#admin_country").validate({
    rules: {
      "country[country_name]": {
        required: true
        
      },
      "country[continent]": {
        required: true
       
      },
      "country[iso_code]": {
        required: true,
        minlength: 1,
        digits: true,
        maxlength: 3
      },
      
      "country[tax_percentage]": {
        required: true,
        minlength: 1,
        regxfloat: /^[+-]?\d+(\.\d+)?$/,
        lessThanEqual: true
      }

    },
    messages: {
      "country[country_name]":{
        required: "Please select the country name.",
        maxlength: "Maximum characters are 35."
      },
      "country[iso_code]": {
        required: "Please enter the iso code.",
        minlength: "Minimum character is 1.",
        maxlength: "Maximum characters are 3."
      },
      
      "country[tax_percentage]": {
        required: "Please enter the tax percentage.",
        minlength: "Minimum character is 1."
      }
    },
    submitHandler: function(form) {
      form.submit();
    }
   });
   
   $.validator.addMethod("regxfloat", function(value, element, regexpr) {          
    return regexpr.test(value);
}, "Invalid Format");

   $.validator.addMethod('lessThanEqual', function(value, element, param) {
    if (this.optional(element)) return true;
    var i = parseInt(value);
    // var j = parseInt($(param).val());
    return i <= 100;
}, "The value must be less than or equal to {100}.");

});

</script>

<script>
   // jQuery(document).change('#country_country_name', function(e){
    
  
    $("#country_country_name").change(function(){
   var input_state = $(this).val();
     str = "";
         $.ajax({
              url: "/admin/countries/edit",
               type: 'POST',
               data: {
                       input_state: input_state 
                     },
               dataType: "JSON",
                success: function(response){
                    console.log(response);  
       
                   $.each( response.state , function(i,l){
                      str += '<option value="'+l+'">' + l+'</option>';
                  });
                     $('#state_state_name').empty().append('<option value="">Select State</option>');
                     $('#state_state_name').append(str);
                  }
   
         });
   
              
   
            
      });
   


</script>