			<div class="journey-request-tabs">
					<div class="text-right filter-s">
						
						<label class="">Filter</label>
						   <%= select_tag "Month", options_for_select(["Please Select","By Date", "By Weight", "By Price" ]) , id: "select_filter_type1", class: "form-control" %>
						
					</div>
					 <% @sent_laggages&.each do |m| %>
					
					<div class="journey-request-part">
						<div class="row">
							<div class="col-sm-1">
								<div class="indication red">
								</div>
							</div>
							<div class="col-sm-4">
								<label>
									<%= "#{m.try(:departure_country)}"%> ,<%= "#{m.try(:departure_state)}"%>
								</label>
								<div class="unit-content">
									<i class="fa fa-calendar"></i>
									<span> <%= "#{m.try(:date)&.to_date&.strftime("%B " "%d, " "%Y")}"%></span>
								</div>
							</div>
							<div class="col-sm-3 text-center">
								<label><i class="fa fa-arrow-right"></i></label>
								<div class="unit-content">
									<i class="fa fa-balance-scale" aria-hidden="true"></i>
									<span><%= "#{m.try(:total_weight)}"%> <%= m.try(:package_details).first.try(:weight_unit)%></span>
									
								</div>
							</div>
							<div class="col-sm-4 text-right">
								<label>
									<%= "#{m.try(:arrival_country)}"%> ,<%= "#{m.try(:arrival_state)}"%>
								</label>
								<div class="unit-content">
									<i class="fa fa-money"></i>
									<span>$ <%= Transaction.find_by(laggage_id: m.id).try(:total_amount)%></span>
								</div>
							</div>
						</div>
					</div>
			     <%end%>
                <div class="table_pagination text-right">
    <div class="btn-group btn-group-custom" role="group pull-right">
      <%#=will_paginate @accepted_requests, :param_name => 'page_2', renderer: BootstrapPagination::Rails %>
    </div>
  </div>
	          
</div>

 						

<script>
$("#select_filter_type1").change(function(){
  var filt1 = $(this).val();
  $.ajax({
           url:"/admin/journeyrequests/sort_order",
           type:"get",
           data: {filt1: filt1}
         });
});  
</script>

<style type="text/css">
.filter-s select{width:80px;display:inline-block;}

.journey-request-tabs{height:600px;overflow-y:auto;}
.indication.red {
    background: #ff0000;
}
</style>
